{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="name-here">
            <h1>{{ todo_list_object.name }}</h1>
            <div>
                <p>
                    <a class="page-links" href="{% url 'todo_list_update' todo_list_object.id %}">Edit</a>
                </p>
                <p>
                    <a class="page-links" href="{% url 'todo_list_delete' todo_list_object.id %}">Delete</a>
                </p>
            </div>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list_object.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                        </td>
                        <td> {{ item.due_date|date:"M j, Y" }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>