{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="name-here">
            <h1>My Lists</h1>
            <div>
                <p>
                    <a class="page-links" href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <p>
                    <a class="page-links" href="{% url 'todo_item_create' %}">Create a new item</a>
                </p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items </th>
                    </tr>
                </thead>

                <tbody>
                    {% for list_object in todo_list_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' list_object.id %}">{{ list_object.name }}</a></td>
                        <td> {{ list_object.items.all|length }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>